body{
   background-color: initial;
}

#MonikaS{
   background-color:inital;
   font-family:initial;
   color:initial;
   
}

#KaterinaP{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#BarboraP{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#AndreaS{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SarkaL{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
